<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ metaDescription }}">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/css/base.css">
  {% block extraStyle %}
  {% endblock %}
</head>
<body>
  <main>
    {% block mainContent %}
      {{ content | safe }}
    {% endblock %}
  </main>
  <footer>
    <p style="text-align: center;"> 
      Made with ❤️ using
      <a class="link" href="https://www.11ty.dev/" target="_blank" rel="nofollow"> 11ty</a>. 
    </p>
  </footer>
</body>
</html>