<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="{{ site.authorName }}">
    <meta name="description" content="{{ metaDescription }}">
    <link type="image/png" sizes="16x16" rel="icon" href="/favicon-16.png">
    <link type="image/png" sizes="32x32" rel="icon" href="/favicon-32.png">
    <link type="image/png" sizes="96x96" rel="icon" href="/favicon-96.png">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/base.css">
    {% block extraStyle %}
    {% endblock %}
  </head>
  <body>
    <main>
      {% block mainContent %}
        {{ content | safe }}
      {% endblock %}
    </main>
    <footer>
      <p style="text-align: center;"> 
        Made with ❤️ using
        <a class="link" href="https://www.11ty.dev/" target="_blank" rel="nofollow"> 11ty</a>. 
      </p>
    </footer>
  </body>
</html>