<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="{{ site.authorName }}">
    <meta name="description" content="{{ metaDescription }}">
    <link type="image/png" sizes="16x16" rel="icon" href="/favicon-16.png">
    <link type="image/png" sizes="32x32" rel="icon" href="/favicon-32.png">
    <link type="image/png" sizes="96x96" rel="icon" href="/favicon-96.png">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/base.css">
    {% block extraStyle %}
    {% endblock %}
  </head>
  <body>
    <main>
      {% block header %}
      <div class="main-menu">
        <h1 class="title"> Iestyn Gage </h1>
      </div>
      {% endblock %}
      {% block links %}
      <nav class="blog-navigation">
        <a href="/"> Blog </a>
        <a href="/about"> About </a>
      </nav>
      {% endblock %}
      {% block mainContent %}
        {{ content | safe }}
      {% endblock %}
    </main>
    <footer>
      <p style="text-align: center;"> 
        Made with &lt3 using
        <a class="link" href="https://www.11ty.dev/" target="_blank" rel="nofollow"> 11ty</a>. 
      </p>
      <span style="text-align: center;">
        <a href="https://github.com/IestynGage"> GitHub </a>
         - 
        <a href="https://www.linkedin.com/in/iestyngage/"> LinkedIn </a>
      </span>
      <p style="text-align: center;"> © 2024 Iestyn Gage </p>
    </footer>
  </body>
  {% block javascript %}
  {% endblock %}
</html>