{% extends "base.njk" %}
{% block extraStyle %}
    <link rel="stylesheet" href="/css/index.css">
{% endblock %}
{% block mainContent %}
  <div class="main-content-center">
    <h1 class="title"> {{ title }} </h1>
    <p class="center-text"> {{ simpleDescription }} </p>
    {% for link in links %}
      <a class="button center-text" tabindex=0 href="{{ link.hyperlink }}" target="_blank"> {{ link.name }}</a>
    {% endfor %}
  </div>
{% endblock %}