:root {
  font-family: "Josefin Sans", "Arial", sans-serif;
  color: #364652;
}

@font-face {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/josefinsans/v25/Qw3PZQNVED7rKGKxtqIqX5E-AVSJrOCfjY46_DjQbMZhKSbpUVzEEQ.woff)
    format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

body {
  min-height: 100dvh;
  margin: 0;

  display: grid;
  grid-template-rows: 1fr auto;
}

main {
  background-color: #f6f6ef;
}

footer {
  color: #f6f6ef;
  background-color: #364652;

  padding: 8px;
  box-sizing: border-box;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
/* CSS reset */

h1 {
  margin: 0px;
}

p {
  margin: 0px;
  font-size: inherit;
}
body {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: 0;
}

a {
  color: inherit;
}
