:root {
  center-size: min(90vw, 360px);
}

.main-menu {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  gap: 8px;
  padding: 2cm 0 2cm 0;
}

.center-display {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  gap: 8px;
}

a.button {
  box-sizing: border-box;
  color: #364652;
  background: #c7dbe6;
  border-radius: 6px;
  padding: 12px;
  text-decoration: none;
  width: min(90vw, 360px);
  display: block;

  font-size: 22px;
  text-align: center;
}

a.button:hover,
a.button:focus {
  color: white;
  background: #2d4f62;
}

.center-text {
  font-size: 22px;
  text-align: center;
}

.blog-sub-title {
  border-bottom-style: solid;
  width: min(90vw, 360px);
  text-align: center;
}

.item-title {
  font-size: 20px;
  font-weight: 700;
}