:root {
  /* center-size: min(90vw, 360px); */
}

.main-menu {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  /* gap: 8px; */
  /* padding: 2rem 0 2rem 0; */
}
/* 
.blog-navigation{
  width: 100vw;
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 1em;
  font-size: 1.4em;
} */

.center-display {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  gap: 8px;
}

.button {
  box-sizing: border-box;
  color: #364652;
  background: #c7dbe6;
  border-radius: 6px;
  padding: 12px;
  text-decoration: none;
  width: min(90vw, 360px);
  display: block;
  cursor: pointer;

  font-size: 22px;
  text-align: center;
}

.button:hover {
  color: white;
  background: #2d4f62;
}

.center-text {
  font-size: 22px;
  text-align: center;
}

.blog-sub-title {
  border-bottom-style: solid;
  width: min(90vw, 360px);
  text-align: center;
}

.post-item {
  text-align: center;
}

.item-title {
  font-size: 20px;
  font-weight: 700;
}

.year-title {
  padding: 1rem 0;
}

.blog-post-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}